<p>
  <mat-toolbar color="primary">
    <span>My Application</span>
  </mat-toolbar>


  <mat-grid-list cols="2" rowHeight="400px">
    
    <mat-grid-tile >

      <mat-card >
        <mat-card-content class="rightcard"> 
          <app-rightcard></app-rightcard>
        </mat-card-content>
      </mat-card>


    </mat-grid-tile>
    <mat-grid-tile rowspan="2" >

      <mat-card >
        <mat-card-content class="card"> 
          <app-fullcard></app-fullcard>
        </mat-card-content>
      </mat-card>
      

    </mat-grid-tile>
    <mat-grid-tile >

      <mat-card >
        <mat-card-content class="leftcard"> 

        <app-leftcard></app-leftcard>

        </mat-card-content>
      </mat-card>

    </mat-grid-tile>
  </mat-grid-list>
  

</p>
