mat-grid-tile {
    background:lightgray
  }
  

  .card{
    height:750px;
    width: 710px;
  }

  .leftcard{

    height: 350px;
    width: 710px;

  }

  .rightcard{

    height: 350px;
    width: 710px;

  }